<nav class="navbar navbar-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#"><img class="brand-img" src="public/logo.png"/></a>
    <a class="call-us" ><i class="fas fa-phone-volume" style="margin-right:4px;"></i>631-289-0400</a>
  </div>
</nav>