<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <h1 class="mb-5">Patchogue’s Family Dry Cleaners for <br> <span>over 60 Years!</span> </h1>
          <h5>1 S Country Rd, East Patchogue, NY
          </h5>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons text-center bg-red">
    <div class="container ">
      <div class="row text-white">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-white"></i>
            </div>
            <h3>What We Do</h3>
            <p class="lead mb-0">Swan Cleaners will do Dry Cleaning, Altering and Tailoring, Suede Cleaning, Leather Cleaning, Wedding Gowns and more.

            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-white"></i>
            </div>
            <h3>How We Do It</h3>
            <p class="lead mb-0">We have state of the art dry cleaning machines with huge capacity and high powered cleaning.

            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-white"></i>
            </div>
            <h3>What To Expect</h3>
            <p class="lead mb-0">The same wonderful customer service and dry cleaning Patchogue has been receiving for over 60 years from the McGiff Family.

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 showcase-img  bg-light" >
          <div class="row">
            <div class="col hoo">
              <ul class="mt-5 pt-5 pl-5 ml-5 pb-5">
                <li>Sunday: <span class="hours-of-operation"> Closed</span></li>
                <li>Monday: <span class="hours-of-operation"> 7:00am to 5:30pm</span></li>
                <li>Tuesday: <span class="hours-of-operation"> 7:00am to 5:30pm</span></li>
                <li>Wednesday: <span class="hours-of-operation"> 7:00am to 5:30pm</span></li>
                <li>Thursday: <span class="hours-of-operation"> 7:00am to 5:30pm</span></li>
                <li>Friday: <span class="hours-of-operation"> 7:00am to 5:30pm</span></li>
                <li>Saturday: <span class="hours-of-operation"> 8:00am to 4:00pm</span></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text text-center">
          <h2>Hours of Operation</h2>
          <!--<p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>-->
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 showcase-img bg-light p-5 contact-us">
          <div class="contact-us-content">
            <h4 class="align-middle mt-5"><span>Call Us:</span><br> 631-289-0400</h4>
             <h4 class="align-middle"><span>Email Us:</span><br> info@swancleanersofpatchogue.com</h4>
          </div>
          
        </div>
        <div class="col-lg-6 my-auto showcase-text text-center">
          <h2>How To Contact Us</h2>
          <!--<p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>-->
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-red text-white">
    <div class="container-fluid pr-5 pl-5">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row pr-5 pl-5">
        <div class="col">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            
            <h5>Katrina G.</h5>
            <p class="font-weight-light mb-0">"Such a nice owner, they do a great job. Love the memorabilia displayed. Just a nice mom and pop cleaner's to support. Highly recommended."</p>
          </div>
        </div>
        <div class="col">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
           
            <h5>Linda Z</h5>
            <p class="font-weight-light mb-0">"Great place to bring your clothes to be cleaned. They do everything perfect. The owner is always there and is the most accommodating person I have known and the employees are just as nice and accommodating.  It's a pleasure to go there.."</p>
          </div>
        </div>
        <div class="col">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
           
            <h5>Hiram R.</h5>
            <p class="font-weight-light mb-0">"Been using Swan since moving to Patchogue. Can not be happier. Always friendly. Remembers your name when you come in. Excellent quality of dry cleaning for personal items and work uniforms. 

              Kevin, is friendly and a nice human being. I can not, and will not  go anywhere else."</p>
          </div>
        </div>

        <div class="col">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
           
            <h5>Joseph G.</h5>
            <p class="font-weight-light mb-0">"I brought 2 pairs of cheap shorts. Only to have new button's put on. They went out of their way to clean them without even asking. If you even consider any other cleaner you crazy. The owner is a complete gentleman and a true patriot."</p>
          </div>
        </div>

        <div class="col">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
           
            <h5>Stephen S.</h5>
            <p class="font-weight-light mb-0">"Been going here going on five years never an issue always pleasant.              "</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Stop In Today!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
         
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Swan Cleaners 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          
        </div>
      </div>
    </div>
  </footer>


</body>
</html>
